<section id="top">
    <div class="book_banner"
        style="background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%), url({{slider.bg_img}});">
        <div class="trailer_img">
            <img id="trailer_img" {{!--
                src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/drishyam-2-et00331997-1667547668.jpg"
                alt=""> --}}
            src="{{slider.trailer_img}}"
            alt="">
            <div class="img_bottom">
                <a id="img_bottom" href="">In cinemas</a>
            </div>
        </div>
        <div class="trailer_info">
            <div class="mov_ti">
                <a id="mov_title" href="">{{slider.nam_movie}}</a>
            </div>
            <div class="mov_rating">
                <a href="/chunks/icons/common-icons-0e73823b.svg#icon-star"></a>
                <a id="mov_rating" href="">{{slider.mov_rating}}</a>
                <a id="mov_votes" href="">{{slider.mov_votes}} votes</a>
            </div>
            <div class="rew_rate">
                <div class="rew_rate_box">
                    <div class="rew_rate_txt">
                        <div class="rew_rate_info">
                            <a id="rew_title" href="">Add your rating & review</a>
                            <a id="rew_sub" href="">Your rating matter</a>
                        </div>
                    </div>
                    <div class="rew_rate_btn">
                        <button id="rate_btn" onclick="">
                            Rate Now
                        </button>
                    </div>
                </div>
            </div>
            <div class="dimention_lang">
                <div class="dimention_btn">
                    <button id="dimention_btn">{{slider.dimention}}</button>
                </div>
                <div class="language_btn">
                    <button id="language_btn">{{slider.lang}}</button>
                </div>
            </div>
            <div class="mov_info">
                {{slider.watch_time}}
                <span> • </span>
                <a id="mov_info" href="">{{slider.jonar}}</a>
                {{!-- <span>,</span>
                <a id="mov_info" href="">Mystery</a>
                <span>,</span>
                <a id="mov_info" href="">Thriller</a> --}}
                <span> • </span>
                UA
                <span> • </span>
                18 Nov, 2022
            </div>
            <div class="book_ticket">
                <div class="book_ticket_btn">
                    <button id="book_ticket_btn">
                        Book tickets
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="book_body">
    <div class="cont-mov">
        <div class="info_book">
            <div class="sticky_title">
                <h5 id="sticky_title">{{slider.nam_movie}}</h5>
            </div>
            <div class="sticky_rate_votes">
                <span id="sticky_rating" href="">{{slider.mov_rating}}</span>
                <span id="sticky_votes" href="">{{slider.mov_votes}} votes</span>
            </div>
        </div>
        <div class="cont_book">
            <div class="book_ticket_btn">
                <button id="book_ticket_btn">
                    Book tickets
                </button>
            </div>
        </div>
    </div>
</section>
<section class="book_body_sec">

    <div class="info_body">
        <div class="info_body_container">
            <section id="component1">
                <div class="about_mov">
                    <p class="about-mov-title" href="">About the movie</p>
                    <p id="about_mov">
                        7 years after the case related to Vijay Salgaonkar and his family was closed, a series of
                        unexpected
                        events bring a truth to light that threatens to change everything for the Salgaonkars. Can Vijay
                        save his family this time?
                    </p>
                </div>
            </section>

            <section id="component2">
                <div class="apply_offer">
                    <p class="about-mov-title" href="">Applicable offers</p>
                    <div class="apply_offer_cont">
                        <div class="svg_box">
                            <img id="svg_box" src="/static/images/bms-svg-box.avif" alt="">
                            {{!-- <svg width="20" height="20">
                                <use href="/static/images/bms-svg-box.avif"></use>
                            </svg> --}}
                        </div>
                        <div class="apply_offer_box">
                            <p id="apply_offer">WATCH MOVIES ONLINE FOR FREE!</p>
                            <P id="Limited_offer">Limited Period Offer</P>
                        </div>
                    </div>
                </div>
            </section>
            <section id="component3"></section>
        </div>
    </div>
</section>
<div class="home_redirect">
    <div class="cont3">
        <a id="navlink" href="/">Home</a>
        <a id="navlink" href="">&#8594;</a>
        <a id="navlink" href="/movies">Movies</a>
    </div>
</div>